
  @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0%;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus-active {
  outline: none;
}
a:focus,
a:active {
  outline: non;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration:none;
}

input, textarea {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
  }






.App {
  font-family: 'Jost', sans-serif;
  text-align: center;
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 100px auto;
}

.logo{
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 15px;
  left: 0;
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 300px;
}
.info p{
  text-align: end;
}

.logo_img{
  width: 234px;
}

.color_ref{
  position: absolute;
  left: 50px;
  top: 20px;
}

.color_ref p{
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.prime{
  background-color: #0c71a5 ;
}
.second{
  background-color: #57b4f7 ;
}
.disab{
  background-color: #7a7a7a ;
}
.back{
  background-color: #f2f2f2 ;
}
.tittle{
  background-color: #2f7ca4 ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form_api{
        margin: 50px;
}
